.style1 {
    border-width: 0;
    border: solid gray 0px;
    width: 90%;
    border-radius: 5px;
    margin: 5px auto;
    background: white;
}

.style2 {
    border-width: 0;
    border: solid gray 10px;
    width: 50%;
    border-radius: 5px;
    margin: 5px auto;
    background: silver;
    align: left;
    font-size: 20;
}

.tablefont {
    font-size: 16;
}

.btn {
    width: 302px;
    height: 50px;
    padding: 5px;
    background: gray;
    font-size: 30px;
    color: white;
}